/* Based on http://cs.stanford.edu/people/karpathy/style.css*/

.imgme {
  border: 2px solid white;
  box-shadow: #AAA 0px 0px 2px 0px; 
  float: left;
}

#topnav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border: 1px solid #FFF;
}

#timeline {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
  }
  .timelineitem:nth-child(even) {
    margin-right: 50%;
    margin-left: 5px;
    border-right: 5px solid #333;
    text-align: right;
  }
  .timelineitem {
    width: 50%;
    position: relative;
    padding: 0px 10px 0px 10px;
  }
  .timelineitem:nth-child(odd):before {
   left: -8px;
  }
  .timelineitem:nth-child(even):before {
    right: -8px;
  }
}

.timelineitem:before {
  width: 11px;
  height: 11px;
  background: #333;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .timelineitem {
    border-left: 5px solid #333;
    text-align: left;
    margin-left: 10px;
    padding: 5px;
    position: relative;
  }
  .timelineitem:before {
    left: -8px;
  }
}

.tdate {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -5px;
  color: rgb(132,0,0);
}
.ttitle {
  font-size: 14px;
  font-weight: 400;
}
.tdesc {
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .tdate {
    font-size: 16px;
  }
  .ttitle {
    font-size: 16px;
  }
  .tdesc {
    font-size: 16px;
  }
}
.thigh {
  color: #070;
}


.pubt {
  font-size: 15px;
  font-weight:400;
  color: #000;
}
@media (max-width: 768px) {
  .pubt {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pubd {
    text-align: justify;
  }
}
.pubd {  
  font-size: 12px;
  font-weight: 300;
}
.pubimg {
  text-align: center;
}
.pubimg img {
  max-width: 100%;
}
.puba {
  font-size: 12px;
  color: #900;
}
.pubv {
  color: #090;
  font-size: 12px;
}
.publ {
  padding-top: 2px;
}

.publ ul {
  padding: 0px;
  margin: 0px;
}

.publ li {
  font-size: 12px;
  border: 0px solid #CCC;
  padding: 0px;
  margin: 0px 2px;
  display: inline-block;
}
.pubwrap {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #DDD;
}
.pub {
}


.bold {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #9d9d9d;